  <div class="home">
  <div class="container-narrow">
    <div class="card">
      <div class="card-header">
        <div class="col-md-8">
          Nidhal
        </div>
        <div class="col-md-4">
          <button class="btn btn-success"><span></span></button>
          <button class="btn btn-danger"><span></span></button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="col-md-8">
          Aymen
        </div>
        <div class="col-md-4">
          <button class="btn btn-success"><span></span></button>
          <button class="btn btn-danger"><span></span></button>
        </div>
      </div>
    </div>
  </div><!--container-->
</div><!--home-->
